*{
    margin: 0;
}

body{
    background-color: #FEC7D7;
    min-height: 100vh;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFE;
    padding: 16px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer div{
    display: flex;

}

footer img{
    object-fit: contain;
}

footer .buttonClicked{
    background-color: #0E172C;
    color: #85D1CE;
    padding: 8px 16px;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 40px;
    width: 103px;
    cursor: pointer;
}

.botonFooter{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer a{
    text-decoration: none;
    color: #85D1CE;
}