@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #FEC7D7;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*----------------------FOOTER-------------------------------*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFE;
    padding: 16px 0px;
    width: 100%;
    flex-shrink: 0;
    max-height: 10%;
}

footer a{
    text-decoration: none;
}

footer div{
    max-height: 30px;
}

footer .btnHome{
    background-color: #0E172C;
    color: #85D1CE;
    padding: 8px 16px;
    border-radius: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 103px;
    cursor: pointer;
}


footer a{
    text-decoration: none;
    color: #85D1CE;
}

/*----------------------TITULO SUBTITULO-----------------------*/

.container{
    padding: 10px;
}

.container .titulo{
    color: #0E172C;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.container .subTitulo{
    color: #0E172C;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.027px;
    margin-bottom: 10px;
}

/*----------------------BOTONES PERRO Y GATO-----------------------*/

.container .botonesPerrosGatos{
    display: flex;
    justify-content: space-around;
}

.container .botonesPerrosGatos .botonAnimal {
    background-color: #0E172C;
    color: #FFFFFE;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 8px 25px;
    border-radius: 8px;
    gap: 16px;
    cursor: pointer;
}

.container .botonesPerrosGatos .botonAnimal .circuloAzul{
    background-color: #85D1CE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.container .botonesPerrosGatos .botonAnimal .circuloAzul .imagenBotonPerrosGatos{
    width: 40px;
    height: 40px;
}

/*----------------------TARJETAS-----------------------*/

.container .containerMascotasTargetas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    gap: 16px;
    max-width: 400px;
    max-height: 100%;
    overflow-y: auto; 
    align-content: start;
    margin-left: auto;
    margin-right: auto;
}

.container .containerMascotasTargetas .animalCard{
    position: relative;
    width: 156px;
    height: 250px;
    display: flex;
    justify-self: center;
}

.container .containerMascotasTargetas .animalCard img{
    padding-top: 5px;
    cursor: pointer;
    width: 156px;
    height: 250px;
    object-fit: cover;
    margin-bottom: -8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container .containerMascotasTargetas .animalCard {
    position: relative;
    width: 156px;
    height: 250px;
}

.container .containerMascotasTargetas .animalCard .animalInfo {
    position: absolute;
    bottom: 0;
    color: #FFFFFE;
    font-weight: 700;
    padding: 14px;
}